<div id="controls">
  <div id="panel">
    <%= render :partial => 'answer_sheets/pages_list' %>
  </div>
  <div id="legend">
    <%= image_tag('qe/icons/question-balloon.png') %> Rolling over this symbol gives you help<br/>
    <%= image_tag('qe/icons/star-small.png') %> Marks a required field
  </div>
</div>

<div id="preview">
    <%= render :partial => 'answer_sheets/title' %>
    <%= render :partial => 'answer_pages/answer_page', :locals => { :show_first => true } %>
</div>

<script type="text/javascript">
  $(function() {
    page_handler = $.qe.pageHandler;
    page_handler.initialize('<%= @presenter.active_page.try(:dom_id) %>');
    // Event.observe(window, 'unload', page_handler.savePage);
        
    // Validation.add('validate-phone', 'Please enter a valid phone number +1-800-555-1234 x102', {
    //   pattern: /((\(\d{3}\)?)|(\d{3}))((\s|-|\.|\/)?)(\d{3})((\s|-|\.|\/)?)(\d{4})\s*([xX]|[eE][xX][tT])?\.?\s*\d*$/
    // });
    // Validation.add('validate-rating', 'Please select one of the above options.', function(v,elm) {
    //  var p = elm.parentNode.parentNode;
    //  var options = p.getElementsByTagName('INPUT');
    //  return $A(options).any(function(elm) {
    //    return $F(elm);
    //  });
    // })
    
    // global responders for all Ajax requests
    $(function() {
    	$('#page_ajax_spinner').ajaxStart(function() {
    		$(this).show();
    	}).ajaxComplete(function() {
    		$(this).hide();
    	})
    });
  });
  function updateTotals() {
    // Set up js for all question grids with totals
    <% if @page %>
      <% @page.question_sheet.pages.collect(&:question_grid_with_totals).flatten.each do |question_grid_with_total| 
          question_grid_with_total.total_cols.split(',').collect(&:to_i).each do |col| -%>
            try {
              updateTotal('<%= "#{question_grid_with_total.id}_#{col - 1}" %>')
              $$(".col_<%= "#{question_grid_with_total.id}_#{col - 1}" %>").each(function(e) {
                Event.observe(e, 'blur', function(event) {
                  updateTotal('<%= "#{question_grid_with_total.id}_#{col - 1}" %>')
                });
              });
            } catch(e) {}
      <%  end
        end %>
    <% end %>
  }
</script>
<%= hidden_field_tag 'submit_to', submit_answer_sheet_path(@answer_sheet), :id => 'submit_to' %>