<% route = { :question_sheet_id => @page.question_sheet_id, :page_id => @page.id } %>

<div id="panel-elements" class="panel">

  <p class="instruction">Click an element to add it to the end of 
  your page (you can drag and drop fields to reorder them later). <a href="/questionnaire_engine/help/builder.html" class="lbOn help" id="link-builder-help" >Help</a></p>
     
  <ul id="list-elements" class="list-elements">
    <li id="sp"><%= link_to "Heading", admin_question_sheet_page_elements_path(route.merge(:element_type => "Section")), 
                      :remote => true,
                      :method => :post %></li>
    <li id="pa"><%= link_to "Paragraph", admin_question_sheet_page_elements_path(route.merge(:element_type => "Paragraph")), 
                      :remote => true, 
                      :method => :post %></li>
    <li id="sl"><%= link_to "Short Answer",  new_admin_question_sheet_page_element_path(route.merge(:element_type => "TextField", :human_type => "Short Answer", 'element[style]' => 'short')), 
                      :remote => true %></li>
    <li id="ml"><%= link_to "Long Answer", new_admin_question_sheet_page_element_path(route.merge(:element_type => "TextField", :human_type => "Long Answer", 'element[style]' => 'essay')), 
                      :remote => true %></li>
    <li id="co"><%= link_to "Choose One", new_admin_question_sheet_page_element_path(route.merge(:element_type => "ChoiceField", :human_type => "Choose One", 'element[style]' => 'radio')),
                      :remote => true %></li>
    <li id="cm"><%= link_to "Choose Many", new_admin_question_sheet_page_element_path(route.merge(:element_type => "ChoiceField", :human_type => "Choose Many", 'element[style]' => 'checkbox')), 
                      :remote => true %></li>
    <li id="dt"><%= link_to "Date",  new_admin_question_sheet_page_element_path(route.merge(:element_type => "DateField", :human_type => "Date")), 
                      :remote => true %></li>
    <li id="qg"><%= link_to "Grid",  new_admin_question_sheet_page_element_path(route.merge(:element_type => "QuestionGrid", :human_type => "Grid")), 
                      :remote => true %></li>
    <li id="at"><%= link_to "Attachment", new_admin_question_sheet_page_element_path(route.merge(:element_type => "AttachmentField", :human_type => "Attachment")), 
                      :remote => true %></li>
    <li id="qgt"><%= link_to "Grid w/Total", new_admin_question_sheet_page_element_path(route.merge(:element_type => "QuestionGridWithTotal", :human_type => "Grid w/Total")), 
                      :remote => true %></li>
    <li id="ref"><%= link_to "Reference",  new_admin_question_sheet_page_element_path(route.merge(:element_type => "ReferenceQuestion", :human_type => "Reference")), 
                      :remote => true %></li>
  </ul>
  
  <p style="clear: both;">&nbsp;</p>
</div>

