<p>
  <label for="element_label" class="desc">Label <span class="required">required</span></label>
  <%= f.text_field :label %>
</p>

<p>
  <label for="element_style" class="desc">Related Question Sheet</label>
  <%= f.select :related_question_sheet_id, (QuestionSheet.order(:label).all - [@page.question_sheet]).collect {|qs| [qs.label, qs.id]} %>
</p>
  
<p>
  <label for="element_slug" class="desc">Variable</label>
  <%= f.text_field :slug %>
<p>

<p>
  <label for="element_style" class="desc">Style</label>
  <%= f.select :style, [["Peer", "peer"], ["Spiritual", "spiritual"], ["Parent", "parent"]] %>
</p>
        
<p>
  <%= f.check_box :required %>
  <label for="element_required">This field is required</label>
</p>

<p><%= f.check_box :is_confidential %> <label for="element_is_confidential">This field is confidential</label></p>
