<h1>Listing joshes</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @joshes.each do |josh| %>
  <tr>
    <td><%= josh.name %></td>
    <td><%= link_to 'Show', josh %></td>
    <td><%= link_to 'Edit', edit_josh_path(josh) %></td>
    <td><%= link_to 'Destroy', josh, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Josh', new_josh_path %>
