<%- if element.question_grid_id.to_i == 0 || in_grid -%>
<li class="" id="element_<%= element.id %>">
<div class="controls">
	<ul>
		<li><%= link_to "edit", edit_admin_question_sheet_page_element_path(element.question_sheet_id, element.page_id, element.id), :remote => true, :method => :get, :class => "edit", :title => "Edit this element" %></li>
<% if in_grid -%>		
		<li><%= link_to("remove", remove_from_grid_admin_question_sheet_page_element_path(element.question_sheet_id, element.page_id, element.id), :remote => true, :class => "remove", :title => "remove" )%></li>
<% end -%>
    <li><%= link_to "duplicate",  duplicate_admin_question_sheet_page_element_path(element.question_sheet_id, element.page_id, element.id), :remote => true, :method => :post, :class => "duplicate", :title => "Duplicate this element" %></li>
		<li><a href="#" class="handle" title="Reorder this element">drag</a></li>
	</ul>
</div>
<div class="q">
    <% if element.question? && element.default_label?-%>
    
      <label for="<%= dom_id(element) %>" class="desc">
        <%= element.label %>
        <% if element.required? -%><span class="required">required</span><% end -%>
      </label>
    <% end -%>
    
    <%= render :partial => 'questions/' + element.ptemplate, :object => element, :locals => {:col => nil} %>
</div>
</li>
<%- end -%>