<div id="content">
    <h1>New Email Template</h1>
    <%= error_messages_for :email_template %>
    <%= form_for(:email_template, :url => qe.admin_email_templates_path) do |f| %>
        <%= render :partial => 'form', :locals => {:f => f} %>
        <p><%= submit_tag "Create" %> or <%= link_to "Cancel", qe.admin_email_templates_path, :class => "cancel" %></p>
    <% end %>
</div>
