<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
	"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  <title>Dynamic Forms</title>
  <%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js' ,
                             'http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.2/jquery-ui.min.js' %>
  <%= stylesheet_link_tag 'jquery-ui-1.8.2.custom' %>
  <%= questionnaire_engine_includes %>
  <%= javascript_include_tag 'rails', 'rails.extra' %>
  <%= csrf_meta_tag %>
</head>
<body>

<div id="status" style="display: none;"><div class="status_content"><%= image_tag('questionnaire_engine/status.gif', :id => "status-img" ) %> <span id="status-msg">Please Wait...</span></div></div>

<div id="wrapper">
   <div id="header">
      <ul id="nav-main">
        <li class="active"><%= link_to 'Forms', admin_question_sheets_path %></li>
        <div class="clear"></div>
      </ul>
   </div>
   
   <div id="main">
   <%= yield %>
   </div>
</div>

</body>
</html>
